/* ******************************* HEADER 1 ****************************** */

.first_header{
  display: flex;
  margin: 10px;
  /* padding: 10px; */
  /* margin-left: 50px; */
  border-bottom: 1px solid rgb(214, 208, 208);
}

.first_header a{
  font-weight: bold;
  color: rgb(102, 104, 105);
  
}

.first_header a:hover {
  text-decoration: none;
    color: rgb(112, 87, 87);
}
.input-group-rounded{
margin-right: 20px;
}

.header_franchise{

  margin-left: 20px;
  margin-right: 740px;

}

.header_franchise a{
  font-weight: bold;
  color: rgb(52, 147, 236);
  
}

.header_franchise a:hover {
  text-decoration: none;
    color: rgb(112, 87, 87);
}


.header_french{
  margin-right: 10px;

}

.header_map a{

  color: rgb(52, 147, 236);
}

.header_map a:hover{
  color: rgb(112, 87, 87);
}


/* ******************************* HEADER 2 ****************************** */
.header{
  display: flex;
  margin-left: 80px;  
}

.container0{
  margin-right: 100px;
}

 .header_ads {
  margin-right: 100px;
  color: rgb(226, 109, 109);
  font-size: 1.3em;
}
 .header_link { 
  /* display: block; */
  margin-right: 40px;
  /* font-weight: bold; */
}

.header_link a {
  text-decoration: none;
  border: 1px solid rgb(156, 152, 152);
  padding: 10px;
  background-color: rgb(156, 152, 152);
  color: white;
  font-size: 1.1em;
}
.header_link a:hover {
  background-color: rgb(112, 87, 87);
  border: rgb(112, 87, 87);
  transition: 0.1s;
  cursor: pointer;
}

.header_ads a{
  color: rgb(226, 109, 109);
}

/* .nav_bar ul{
  display: flex;
  list-style: none;
  margin-left: 230px;
  margin-top: 30px;
} */



/* **************************HEADER TWITTER*********************************** */
