/* ******************************* HEADER1 ****************************** */

.first_header{
  display: flex;
  margin: 10px;
  /* padding: 10px; */
  /* margin-left: 50px; */
  border-bottom: 1px solid rgb(214, 208, 208);
}

.first_header a{
  font-weight: bold;
  color: rgb(102, 104, 105);
  
}

.first_header a:hover {
  text-decoration: none;
    color: rgb(112, 87, 87);
}
.input-group-rounded{
margin-right: 20px;
}

.header_franchise{

  margin-left: 20px;
  margin-right: 740px;

}

.header_franchise a{
  font-weight: bold;
  color: rgb(52, 147, 236);
  
}

.header_franchise a:hover {
  text-decoration: none;
    color: rgb(112, 87, 87);
}


.header_french{
  margin-right: 10px;

}

.header_map a{

  color: rgb(52, 147, 236);
}

.header_map a:hover{
  color: rgb(112, 87, 87);
}


/* ******************************* HEADER2 ****************************** */
.header{
  display: flex;
  margin-left: 80px;  
}

.container0{
  margin-right: 100px;
}

 .header_ads {
  margin-right: 100px;
  color: rgb(226, 109, 109);
  font-size: 1.3em;
}
 .header_link { 
  /* display: block; */
  margin-right: 40px;
  /* font-weight: bold; */
}

.header_link a {
  text-decoration: none;
  border: 1px solid rgb(156, 152, 152);
  padding: 10px;
  background-color: rgb(156, 152, 152);
  color: white;
  font-size: 1.1em;
}
.header_link a:hover {
  background-color: rgb(112, 87, 87);
  border: rgb(112, 87, 87);
  transition: 0.1s;
  cursor: pointer;
}

.header_ads a{
  color: rgb(226, 109, 109);
}

/* ************************** HEADER3 NAVBAR *********************************** */

.header_twitter{
  width: 90%;
  margin: 0 auto;
}

.header::after{
  content: '';
  display: table;
  clear: both;
}

.logo{
  float:left;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
 display: inline-block;
 margin-left: 25px;
}

.header_twitex{
  float: left;
  /* font-size: 1.1em; */
}

/* ****************************************** TWO SECTIONS ********************************************************  */
.Container-section3 {
  display: flex;
  margin-top: 65px;
  margin-bottom: none;
}
.row4 {
  float: left;
 
}

.row5 {
  float: right;
}

/* ****************************************** THREE SECTIONS ********************************************************  */

.Container-section4{
  /* background-color: aquamarine; */
  display: flex;
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.Container-section4 p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.Container-section4 h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.row6{
  width: 33.3%;
}

.row7{
  width: 33.3%;
  border-left: 1px solid black;
}

.row8{
  width: 33.3%;
  float: left;
  border-left: 1px solid black;
}
